@import "variables";

#home {

}

@media (min-width: 767px) {
  #home {

  }
}

@media (min-width: 992px) {
  #home {
    .landing-page {
      height: 100vh;
      position: relative;

      .image-container {
        position: relative;

        img {
          &:nth-child(1) {
            position: absolute;
            width: 50vw;
            height: auto;
            right: 0;
          }

          &:nth-child(2) {
            position: absolute;
            width: 35vw;
            height: auto;
            right: 1vw;
            top: 2rem;
          }
        }
      }

      .content-container {
        position: relative;

        h1,
        h2,
        .btn-container {
          position: absolute;
          left: 3rem;
          opacity: 0;
          animation: fade-in-up 0.25s ease forwards;
        }

        h1 {
          top: 22.5rem;
          font-size: 6vw;
          animation-delay: 0.25s;
        }

        h2 {
          top: 15rem;
          font-size: 4vw;
        }

        .btn-container {
          position: relative;
          top: 32.5rem;
          animation-delay: 0.5s;
        }

        .btn-box-lg {
          position: absolute;
        }

        a {
          position: absolute;
          left: 12rem;
          transform: translateY(0.625rem);
          font-size: 1.5rem;
        }
      }
    }

    #about {
      .row {
        position: relative;

        .image-container {
          position: relative;
          height: 100vh;

          img {
            opacity: 0;
            animation: fade-out 0.5s ease;

            &:nth-child(1) {
              width: 65vw;
              left: -5rem;
            }

            &:nth-child(2) {
              position: absolute;
              width: 40vw;
              top: 25%;
              left: 5rem;
            }

            &.scrolled-at {
              opacity: 1;
              animation: fade-in-up 0.5s ease;
            }
          }
        }

        .content-container {
          h1 {
            font-size: 4vw;
          }

          span.sep-line {
            background-color: $dark;
            height: 0.25rem;
            animation: sep-span-retract 1s ease;
            width: 0%;
            transform: translateX(180%);

            &.scrolled-at {
              animation: sep-span-expand 1s ease forwards 0.25s;
            }
          }

          p {
            font-size: 2vw;
          }

          h1,
          p {
            opacity: 0;
            animation: fade-out 0.5s ease;

            &.scrolled-at {
              animation: fade-in-up 0.5s ease forwards 0.5s;
            }
          }
        }
      }
    }

    .info {
      position: relative;
      display: block;

      .stripes {
        height: 100vh;
        width: 15rem;
        background-image: url(../images/stripes.svg);
        background-size: 5px 5px;
        opacity: 0.25;
      }

      .content-container {
        height: 80vh;
        position: absolute;
        left: 7.5rem;
        top: 10vh;
        background-color: #fafafa;
        max-width: 30rem;
        box-shadow: -3px 3px 20px #37373720;

        h1 {
          font-size: 4rem;
        }

        span.line {
          width: 5rem;
          height: 0.25rem;
          background-color: $dark;
          margin-top: 2.5rem;
          margin-bottom: 2.5rem;
        }
      }

      .image-container {
        position: absolute;
        right: 5vw;
        top: 50vh;

        img.info-img {
          position: relative;
          width: calc(90vw - 37.5rem);
          margin-bottom: 50vh;
        }
      }

      #info-display {
        div {
          animation: fade-in 0.25s ease;
        }

        h2 {
          font-size: 2.25rem;
        }

        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}
