/* stylelint-disable no-descending-specificity */
@import "variables";

@media (max-width: 766px) {
  #home {
    .landing-page {
      height: 100vh;
      position: relative;

      .image-container {
        position: relative;

        img {
          opacity: 0;
          animation: fade-in-up 0.25s ease forwards;

          &:nth-child(1) {
            position: absolute;
            width: 100vw;
            height: auto;
            animation-delay: 0.375s;
          }

          &:nth-child(2) {
            position: absolute;
            width: 90vw;
            height: auto;
            right: -7.5vw;
            top: 7.5rem;
            animation-delay: 0.5s;
          }
        }
      }

      .content-container {
        position: relative;
        left: 1rem;

        h1,
        h2,
        .btn-container {
          animation: fade-in-up 0.25s ease forwards;
        }

        h2 {
          font-size: 2rem;
        }

        h1 {
          font-size: 3rem;
          opacity: 0;
          animation-delay: 0.125s;
        }

        .btn-container {
          opacity: 0;
          animation-delay: 0.25s;
        }
      }
    }

    #about-sm {
      h1,
      p,
      img {
        opacity: 0;
      
        &:not(.scrolled-at) {
          animation: fade-out 0.25s ease;
        }
      }

      h1.scrolled-at {
        animation: fade-in-up 0.25s ease forwards;
      }

      p.scrolled-at {
        animation: fade-in-up 0.25s ease forwards 0.125s;
      }

      img.scrolled-at {
        animation: fade-in-up 0.25s ease forwards 0.25s;
      }
    }

    #info-sm {
      position: relative;

      .stripes {
        height: 100vh;
        width: 50vw;
        background-image: url(../images/stripes.svg);
        background-size: 5px 5px;
        opacity: 0.25;
      }

      .btn-container {
        position: absolute;
        right: 2.5rem;
        top: 5rem;
      }

      .info-sm-content {
        height: 70vh;
        position: absolute;
        top: 20vh;
        width: 80vw;
        left: 10vw;
        background-color: white;
        box-shadow: -3px 3px 20px #37373720;
        animation: fade-in 0.25s ease;

        h1 {
          font-size: 5vh;
        }

        h2 {
          font-size: 4vh;
          margin-top: 2vw;
        }

        span.line {
          width: 15vw;
          height: 0.25rem;
          background-color: $dark;
          margin-top: 2.5rem;
          margin-bottom: 2.5rem;
        }

        p {
          font-size: 3vh;
        }
      }
    }

    #contact-sm {
      position: relative;

      .header-container {
        position: absolute;
        top: 2rem;
        left: 50%;

        h1 {
          position: relative;
          left: -50%;
        }
      }
    }
  }
}

@media only screen and (max-width: 766px) and (orientation: landscape) {
  #home {
    .landing-page {
      height: 175vw;
    }

    #info-sm {
      .btn-container {
        top: 0;
      }
    }
  }
}

@media (min-width: 767px) {
  #home {
    .landing-page {
      height: 50vh;
      position: relative;

      .image-container {
        position: relative;

        img {
          &:nth-child(1) {
            position: absolute;
            width: 50vw;
            height: auto;
            right: 0;
            top: 0;
          }

          &:nth-child(2) {
            position: absolute;
            width: 35vw;
            height: auto;
            right: 1vw;
            top: 1rem;
          }
        }
      }

      .content-container {
        position: relative;

        h1,
        h2,
        .btn-container {
          position: absolute;
          left: 3rem;
          opacity: 0;
          animation: fade-in-up 0.25s ease forwards;
        }

        h1 {
          top: 15rem;
          font-size: 7vw;
          animation-delay: 0.25s;
        }

        h2 {
          top: 9rem;
          font-size: 5vw;
        }

        .btn-container {
          position: relative;
          top: 22.5rem;
          animation-delay: 0.5s;
        }

        .btn {
          position: absolute;
        }

        a:not([role=button]) {
          position: absolute;
          left: 5rem;
          transform: translateY(0.625rem);
          font-size: 1rem;
        }

        a[role=button] {
          text-decoration: none;
        }
      }
    }

    #about,
    #about-md {
      .row {
        position: relative;

        .image-container {
          position: relative;
          height: 50vh;

          img {
            opacity: 0;
            animation: fade-out 0.5s ease;

            &:nth-child(1) {
              width: 65vw;
              left: -5rem;
            }

            &:nth-child(2) {
              position: absolute;
              width: 40vw;
              top: 25%;
              left: 5rem;
            }

            &.scrolled-at {
              animation: fade-in-up 0.5s ease forwards;
              
              &:nth-child(2) {
                animation-delay: 0.25s;
              }
            }
          }
        }

        .content-container {
          h1 {
            font-size: 4vw;
          }

          span.sep-line {
            background-color: $dark;
            height: 0.25rem;
            animation: sep-span-retract 1s ease;
            width: 0%;
            transform: translateX(180%);

            &.scrolled-at {
              animation: sep-span-expand 1s ease forwards 0.25s;
            }
          }

          p {
            font-size: 2vw;
          }

          h1,
          p {
            opacity: 0;
            animation: fade-out 0.5s ease;

            &.scrolled-at {
              animation: fade-in-up 0.5s ease forwards 0.5s;
            }
          }
        }
      }
    }

    .info {
      position: relative;
      display: block;

      .stripes {
        height: 100vh;
        width: 15rem;
        background-image: url(../images/stripes.svg);
        background-size: 5px 5px;
        opacity: 0.25;
      }

      .content-container {
        height: 80vh;
        position: absolute;
        left: 0;
        top: 10vh;
        background-color: #fafafa;
        width: 50vw;
        box-shadow: -3px 3px 20px #37373720;

        h1 {
          font-size: 4rem;
        }

        span.line {
          width: 5rem;
          height: 0.25rem;
          background-color: $dark;
          margin-top: 2.5rem;
          margin-bottom: 2.5rem;
        }
      }

      .image-container {
        position: absolute;
        right: 5vw;
        top: 50vh;

        img.info-img {
          position: relative;
          width: calc(60vw - 10rem);
          margin-bottom: 50vh;
        }
      }

      #info-display,
      #info-display-md {
        div {
          animation: fade-in 0.25s ease;
        }

        h2 {
          font-size: 2.25rem;
        }

        p {
          font-size: 1.5rem;
        }
      }
    }

    .contact {
      position: relative;

      .header-container {
        position: absolute;
        top: 2rem;
        left: 50%;

        h1 {
          position: relative;
          left: -50%;
          font-size: 3rem;
          opacity: 0;
          animation: fade-out 0.25s ease;

          &.scrolled-at {
            animation: fade-in-up 0.25s ease forwards;
          }
        }
      }

      img {
        width: 100%;
      }

      .row p,
      .row a {
        font-size: 2rem;
      }

      .row img {
        max-width: 2rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

@media (min-width: 992px) {
  #home {
    .landing-page {
      height: 100vh;

      .image-container {
        img {
          &:nth-child(2) {
            top: 2rem;
          }
        }
      }

      .content-container {
        .btn-box-lg {
          position: absolute;
        }

        h1,
        h2,
        .btn-container {
          position: absolute;
          left: 3rem;
          opacity: 0;
          animation: fade-in-up 0.25s ease forwards;
        }

        h1 {
          top: 22.5rem;
          font-size: 6vw;
          animation-delay: 0.25s;
        }

        h2 {
          top: 15rem;
          font-size: 4vw;
        }

        .btn-container {
          position: relative;
          top: 32.5rem;
          animation-delay: 0.5s;
        }

        a:not([role=button]) {
          position: absolute;
          left: 12rem;
          transform: translateY(0.625rem);
          font-size: 1.5rem;
        }

        a[role=button] {
          text-decoration: none;
        }
      }
    }

    #about,
    #about-md {
      .row {
        .image-container {
          height: 100vh;

          img {
            &:nth-child(2) {
              position: absolute;
              width: 40vw;
              top: 25%;
              left: 5rem;
            }
          }
        }
      }
    }

    .info {
      .content-container {
        height: 80vh;
        position: absolute;
        left: 7.5rem;
        top: 10vh;
        background-color: #fafafa;
        max-width: 30rem;
        box-shadow: -3px 3px 20px #37373720;
      }

      .image-container {
        position: absolute;
        right: 5vw;
        top: 50vh;

        img.info-img {
          position: relative;
          width: calc(90vw - 37.5rem);
          margin-bottom: 50vh;
        }
      }
    }

    .contact {
      .header-container {
        top: 5rem;

        h1 {
          font-size: 5rem;
        }
      }
    }
  }
}
