$primary: #0087fd;
$secondary: #8b1fff;
$dark: #373737;
$light: #f4f4f4;
$none: rgba(0, 0, 0, 0);

$font-family-sans-serif: "Ubuntu", sans-serif;
$font-family-base: "Ubuntu", sans-serif;

$theme-colors: (
  none: $none,
  primary: $primary,
  secondary: $secondary,
  light: $light,
  dark: $dark,
);

$spacer: 1rem;

$spacers: ();

$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * 0.25),
    2: ($spacer * 0.5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 6),
    7: ($spacer * 12),
  ),
  $spacers
);
